VITE_SUPABASE_URL=https://ikrouqkiqacgpqdfjsnu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlrcm91cWtpcWFjZ3BxZGZqc251Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2MDkwMjAsImV4cCI6MjA4OTE4NTAyMH0.GNU3wr5Wiqd6QnG5aKWuL1Smg6M-_vL033EznXI6woI
